{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}



<div
     class="bg-image d-flex justify-content-center align-items-center"
     style="
            background-image: url('static/cascades.jpg');
            height: 100vh;
            "
     >

     <div class="bg-light p-5 rounded-lg m-3">
      <h1 class="display-4">Cascade Training</h1>
      <p class="lead">Sign up to grant access to Strava logs and get coaching.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
    </div>



  

{% endblock %}