{% extends "base.html" %}
{% block title %}Plan{% endblock %}
{% block head %}
  {{ super() }}
 
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}


<div class="container">
  <table id="strava-data" class="table">
    <thead>
      <tr>
        <th>Sport</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      {% for p in plans %}
        <tr>
          {% for d in p %}
          <td>{{ d }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>


 <table id="planned-activities" class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Activity</th>
      <th>Description</th>
      <th>Distance (KM)</th>
    </tr>
  </thead>
  <tbody>
    {% for activity in activities %}
      <tr>
        <td>{{ activity.Date }}</td>
        <td>{{ activity.Activity }}</td>
        <td>{{ activity.Description }}</td>
        <td>{{ activity['Distance (KM)'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include "activityForm.html" %}   


</div>
{% endblock %}